<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="../images/M.png" />
    <link rel="stylesheet" href="home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Mohammed Abdulla &mdash; Developer</title>
  </head>
  <body>
    <div class="Main">
      <div class="Navbar">
        <a class="Home" href="#">HOME</a>
        <a class="Projects" href="../projects/projects.html">PROJECTS</a>
        <a class="Contact" href="../contact/contact.html">CONTACT</a>
      </div>
      <div class="Links">
        <a id="linkedin" href="https://www.linkedin.com/in/mohammed-abdulla-b5281b19a/" target="_blank">LinkedIn</a>
        <a id="github" href="https://github.com/moe1011" target="_blank">GitHub</a>
      </div>

      <div class="About">
        <div class="About-Me">
          My name is Mohammed Abdulla,<br />
          I am a student at
          <span style="color: rgb(1, 106, 57)">Algonquin College</span> pursuing
          my goal of being a <strong>Software and Web Developer</strong>.
        </div>
      </div>
    </div>
  </body>
</html>
