body {
  font-family: "Montserrat", sans-serif;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;

  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.Navbar {
  padding-bottom: 5%;
  text-align: center;
  word-spacing: 2rem;
  transform: translateY(-15rem);
  font-size: 35px;
  animation: show-navbar 0.7s forwards;
}

.Home {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 1s;
  transform: inherit;
}

.Projects {
  color: #0099ff;
  text-decoration: none;
  transition: 1s;
  transform: inherit;
}

.Contact {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 1s;
  transform: inherit;
}

/* Animations */
.Home:hover {
  font-size: 50px;
}
.Projects:hover {
  font-size: 50px;
}
.Contact:hover {
  font-size: 50px;
}

@keyframes show-navbar {
  100% {
    transform: translateY(1rem);
  }
}

/* Projects Section */
.Project-list {
  opacity: 0;
  color: white;
  text-align: center;
  animation: show-projects 1s forwards;
}
.Project-1 {
  width: 100%;
  height: 50%;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  transform: translateY(100%);
  opacity: inherit;
}

.Project-2 {
  width: 100%;
  height: 50%;
  background-color: #e84393;
  background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
  transform: translateY(100%);
  opacity: inherit;
}
.Project-3 {
  width: 100%;
  height: 50%;
  background-color: #55efc4;
  background-image: linear-gradient(315deg, #55efc4 0%, #000000 74%);
  transform: translateY(100%);
  opacity: inherit;
}

#project {
  padding-top: 10%;
  /* padding-left: 20%; */
  font-size: 35px;
  font-weight: 300;
  transition: 1s;
}
#project:hover {
  font-size: 50px;
}

#subtitle {
  font-size: 20px;
}

#link {
  font-size: 20px;
  color: orange;
  transition: color 0.5s;
}

#link:hover {
  color: rgb(192, 131, 17);
}

/* Project Animations */
@keyframes show-projects {
  100% {
    opacity: 1;
  }
}

/* Mobile users */
@media (max-width: 1000px) {
  .Home::after {
    content: "\a";
    white-space: pre;
  }
  .Projects::after {
    content: "\a";
    white-space: pre;
  }
  .Contact::after {
    content: "\a";
    white-space: pre;
  }
  #project{
    padding-top: 7rem;
  }
}
